@import './Variables.scss';


#sidebar {
    margin-top: 80px;
    position: fixed;
    width: 30%;
    height: 90%;
    background: $navcolor;
    right: -100%;
    transition: all 300ms linear;
    padding-top: 20px;
    top: 0;
    border: 3px solid $defaultcolor;
    border-radius: 10px;
    font-family: $textfont;
    transition: all 0.8s ease;
}
#sidebar:hover {
    border: 3px solid $themecolor;
}


#sidebar.active {
    right: 10px;
}

.cartcontainer{
    margin-top: -30px;
    height: 600px;
    width: 500px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 10px;
    border: 2px solid $defaultcolor;
    border-radius: 5px;
    background-color: $backgroundcolor;
}
.noitems_container{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.noitems {
    color: $themecolor;
    text-transform: capitalize;
    font-size: 20px; 
    letter-spacing: 0.4em;
}

.noitems{
    align-items: center;
    justify-content: center;
}
.sidebar-content {
    position: relative;
    height: 100%;
    padding: 0px 40px 20px 40px;
}

.inactive{
    float: right;
    right: -100%;
}

.productcart {
    width: 400px;
    height: 490px;
    padding: 0px 20px 20px 20px;
    background: #1c1c1c;
    box-shadow: rgba(30, 80, 49, 0.35) 5px 10px 20px;;
    margin: auto;
    break-inside: avoid;
    border-radius: 5px;

    .prodtitle h3{
        color:whitesmoke;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
    }
}

.productcart img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: $textcolor;
}

.cartbar{
    @include features;
}
.cartbar h1{
    @include featurefont;
}
.cartbarfooter{
    display: inline-block;
    margin-top: 30px;
    @include features;
}
.sidecontent{
    padding: 0px 0px 15px 10px;
}

.cartbuttons{
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.btns {
    padding: 10px 20px;
    @include buttondesign;
}
.IncDec{
    color:#3498db;
}
.btns:hover{
    color:$themecolor;
    border: 1px solid $themecolor;
}
.xbutton_container{
    width: 100%;
    text-align: right;
}
.xbutton{
    padding: 7px;
    margin-bottom: 3px;
    color:#3498db;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: $transitiontime;
}
.xbutton:hover{
    color: red;
}
.cart-total-price{
    width: 100%;
    margin-top: -40px;
    padding-bottom: 13px;
    text-align: center;
}
.cart-total-price label{
    color: $themecolor;
    font-size: 25px;
}
.quantity{
    width: 100%;
    border-top: 3px solid $textcolor;
    text-align: center;
    padding-top: 10px;
}
.quantity h3{
    font-weight: 400;
    letter-spacing: 0.1em;
    color:$textcolor;
}
.quantity p{
    color:$themecolor;
    font-weight: 500;
    letter-spacing: 0.05em;
}
a{
    text-decoration: none;
}
