@import './Variables.scss';

.productImg{
    margin-left: 15%;
    margin-top: 40%;
    height: 350px;
    width: 350px;
    border-style: groove;
}

.productDetails{
    position: absolute;
    margin-top: 15%;
    margin-left: 10%; 
    width: 350px;

    hr.solid {
        border-top: 2px solid $defaultcolor;
        margin-top: 20px;
      }

}

.checkoutBt{
    position: absolute; 
    text-align: center;
    margin-top: 17%;
    margin-left: 40%; 
    padding: 0 30px;
    height: 40%;
    background-color: $navcolor;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
    h1{
        color: $themecolor;
    }
    button{
        background-color: $defaultcolor;
        color: white;
        width: 200px;
        padding: 20px;
        font-size: 20px;
        border: none;
        border-radius: 20px;
    }
    button:hover{
        background-color: rgb(86, 202, 86);
    }

    .quantity label{
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 20%;
        font-size: 20px;
        color: white;        
    }
}

.column {
    float: left;
    width: 30%;
}
  
  /* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
  }

#quantity{
    width: 30%;
}