@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
//Fonts
$titlefont: Arial, Helvetica, sans-serif;
$logofont: 'Rubik 80s Fade', cursive;
$textfont: 'Poppins', sans-serif;

//Colors
$navcolor: rgb(35, 35, 35);
$themecolor: rgb(111, 230, 111);
$defaultcolor: rgb(100, 100, 100);
$featuredcolor: #bbb;
$textcolor: #fff;


@mixin features {
    width: 100%;
    border-bottom: 5px solid $featuredcolor;
    color: $featuredcolor;
    margin-bottom: 50px;
}
@mixin featurefont {
    font-weight: 300;
    letter-spacing: 0.1em;
}
//transition time
$transitiontime: all 0.3s ease;

//span design
$span_padding : 30px 10px 10px;